@import 'breakpoints';

.main-old {
    display: flex;
    color: white;
    text-align: center;

    &__banner {
        min-width: 50vw;
        background-size: cover;
        background-image: url("/icon/main/old-background.png");
           @include breakpoint(xxl) {
            display: none;
        }
    }

    &__content {
        flex: 1 auto;
        padding: 100px 0 20px 0;
        background-color: black;

         @include breakpoint(xxl) {
            background-size: cover;
            background-image: url("/icon/main/old-background.png");
        }
         @include breakpoint(sm) {
            padding:20px ;
        }
    }

    &__label {
        font-size: 42px;
         @include breakpoint(sm) {
            font-size: 32px;
        }
    }

    &__text {
        padding: 80px 0 60px 0;
        max-width: 500px;
        margin: 0 auto;
         @include breakpoint(xxl) {
            padding: 40px 0 40px 0;
        }
    }

    &__button {
        color: white;
        background-color: rgba(0, 0, 0, 0);
        margin: 0 auto;
        border: 1px solid white;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
    }
}