@import 'breakpoints';

.main-new {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    color: white;
    background-color: black;

     @include breakpoint(xxl) {
        display: flex;
        flex-direction: column-reverse;
    }

    &__content {
        background-color: black;
        padding-bottom: 50px;

    }

    &__content-label {
        font-size: 36px;
        padding: 100px 0;
        text-align: center;
         @include breakpoint(xxl) {
            padding: 100px 0 40px 0;
        }
    }

    &__product {
        gap: 50px;
        margin: 0 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
         @include breakpoint(xxl) {
            padding: 0 20px;
            margin: 0;
        }
         @include breakpoint(md) {
              grid-template-columns: repeat(2, 1fr);
        }
         @include breakpoint(sm) {
              grid-template-columns: repeat(1, 1fr);
        }



    }
    &__item{

    }

    &__banner {
        background-size: cover;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
          @include breakpoint(xxl) {
            min-height: 400px;
        }
    }
    &__banner-label {
        font-size: 36px;
        padding-bottom: 50px;

    }

    &__button {
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid white;
        padding: 15px 30px;
    }

}