@import 'breakpoints';

.order-confirm {
    background-color:midnightblue;
    display: flex;
    font-size: 18px;
    height: 70px;


    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__info{
        color: white;
        text-align: left;
    }
    &__price {

    }
    &__button {
        cursor: pointer;
        background-color: orangered;
        height: 50px;
        width: 150px;
        text-align: center;
        line-height: 50px;
        color: white;
        border-radius: 10px;

    }
}